@-webkit-keyframes slide-right-in {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes slide-right-in {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes slide-right-out {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}
@keyframes slide-right-out {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}
@-webkit-keyframes slide-left-in {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@keyframes slide-left-in {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@-webkit-keyframes slide-left-out {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes slide-left-out {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@-webkit-keyframes slide-first-in {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@keyframes slide-first-in {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@-webkit-keyframes slide-first-out {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}
@keyframes slide-first-out {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}
@-webkit-keyframes slide-last-in {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes slide-last-in {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes slide-last-out {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes slide-last-out {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
.slide[get-right-in] {
  inset: 0;
  -webkit-animation: slide-right-in 500ms forwards;
          animation: slide-right-in 500ms forwards;
}

.slide[get-right-out] {
  inset: 0;
  -webkit-animation: slide-right-out 500ms forwards;
          animation: slide-right-out 500ms forwards;
}

.slide[get-left-in] {
  inset: 0;
  -webkit-animation: slide-left-in 500ms forwards;
          animation: slide-left-in 500ms forwards;
}

.slide[get-left-out] {
  inset: 0;
  -webkit-animation: slide-left-out 500ms forwards;
          animation: slide-left-out 500ms forwards;
}

.slide[get-first-in] {
  inset: 0;
  -webkit-animation: slide-first-in 500ms forwards;
          animation: slide-first-in 500ms forwards;
}

.slide[get-first-out] {
  inset: 0;
  -webkit-animation: slide-first-out 500ms forwards;
          animation: slide-first-out 500ms forwards;
}

.slide[get-last-in] {
  inset: 0;
  -webkit-animation: slide-last-in 500ms forwards;
          animation: slide-last-in 500ms forwards;
}

.slide[get-last-out] {
  inset: 0;
  -webkit-animation: slide-last-out 500ms forwards;
          animation: slide-last-out 500ms forwards;
}